/* art.zedign.com/zas */

@import url("https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* CLS_PREVENTION */

.container {
  position: absolute;
  /*outline: solid 10px red;*/
  left: 50%;
  transform: translateX(-50%);
}

.zdlogo, .breadcrumb, h1, #items_wrap, #commonFooter {
  position: relative;
}

.zdlogo {
  top: 0;
  display: block;
  height: 80px;
}

.breadcrumb {
  /*top: 90px;*/
  top: 0;
}

h1 {
  /*top: 150px;*/
  top: 20px;
  display: block;
  height: 130px;
  overflow: hidden;
}

#items_wrap {
  /*top: 300px;*/
  top: 50px;
}

.paginateHTML {
  /*display: none;*/
}

#monographPanel_wrap {
  /*display: none;*/
}

#commonFooter {
  /*display: none;*/
}

#hcmenu {
  display: block;
  width: 90%;
  height: 30px;
  overflow: auto;
  position: absolute;
  bottom: 0;
}

h1 {}

/* /CLS_PREVENTION */

body {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  /*font-family: Arial, Helvetica, sans-serif;*/
  line-height: 1em;
  padding-bottom: 300px;
  text-transform: uppercase !important;
}

h1 {
  text-align: center;
}

/* ------------ MAIN ------------------ */

.caption h4 {
  height: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.main .media-body h3 {
  text-transform: uppercase;
}

/* ------------ /MAIN ------------------ */

/* ------------ ITEM ------------------ */

body.item #items .thumbnail {
  width: 280px;
  height: 280px;
  overflow: hidden;
  background: linear-gradient(to right, #b4b0af, #e6e4e5);
}

body.item .thumbnail img {
  width: 200px;
  height: 200px;
  border-width: 5px;
  border-style: solid;
  border-color: #b4b0af #e6e4e5 #e6e4e5 #b4b0af;
}

/* ------------ /ITEM ------------------ */

/* --------------- SINGLE ---------------- */

.single h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.single .container p {
  display: block;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}

.single .container p img {
  /*width: 95%;*/
  /*max-width: 500px;*/
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* --------------- /SINGLE ---------------- */

/* --------------- SEARCH ---------------- */

/* bootstrap 5 on search */

.search .container {
  /*  display: flex;
    flex-direction: column;
    width: 95%;*/
  width: 95%;
  max-width: 750px;
}

.search h1 {
  overflow: inherit;
}

.search #typeForm {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.search #typeForm div {
  display: flex;
  align-items: center;
}

.search #searchBox {
  margin: 10px auto;
  display: flex;
  font-size: 18px;
  width: 85%;
  font-family: sans-serif;
}

.search #results {
  width: 90%;
}

.search .searchResultItem {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: solid 1px #aaa;
}

.search #pagination, .search #types {
  margin: 10px 0;
}

/* --------------- /SEARCH ---------------- */